<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.careerMapper">

	<!-- 프로필내부 커리어 매퍼 -->
	<select id="career_select" parameterType="CAREER" resultType="CAREER">
		SELECT * FROM CAREER
		WHERE CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}
	</select>
	<select id="career_select_seq" parameterType="CAREER" resultType="CAREER">
		SELECT CAREER_SEQ FROM CAREER
		WHERE CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}
	</select>
	
	<insert id="career_insert" parameterType="CAREER">
		INSERT INTO CAREER
		VALUES(CAREER_SEQ.NEXTVAL, #{CAREER_MEMBER_CODE},#{COMPANY_NAME},
		#{DUTY},to_date(#{DAY_OF_ENTRY},'YYYY-MM-DD HH24:MI:SS'),to_date(#{DATE_OF_DEPARTURE},'YYYY-MM-DD HH24:MI:SS'),#{STACK},#{LINK},#{EXPLANATION})
	</insert>
	<update id="career_update" parameterType="CAREER">
		UPDATE CAREER SET 
		COMPANY_NAME = #{COMPANY_NAME},
		DUTY = #{DUTY},
		DAY_OF_ENTRY = to_date(#{DAY_OF_ENTRY},'YYYY-MM-DD HH24:MI:SS'),
		DATE_OF_DEPARTURE = to_date(#{DATE_OF_DEPARTURE},'YYYY-MM-DD HH24:MI:SS'),
		STACK = #{STACK},
		LINK = #{LINK},
		EXPLANATION = #{EXPLANATION}
		WHERE CAREER_SEQ = #{CAREER_SEQ} AND CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}
	</update>
	<delete id="career_delete" parameterType="Hashmap">
		DELETE FROM CAREER
		WHERE CAREER_SEQ = #{CAREER_SEQ} AND CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}
	</delete>
	<select id="career_count" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM CAREER
		WHERE CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}
	</select>
	<insert id="career_insert_new" parameterType="int">
		INSERT INTO CAREER
		VALUES(CAREER_SEQ.NEXTVAL, #{CAREER_MEMBER_CODE},' ',' ', SYSDATE, SYSDATE,' ',' ',' ')
	</insert>
</mapper>



