<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.career_detailMapper">

	<select id="career_detail_select" parameterType="int" resultType="CAREER_DETAIL">
		SELECT * FROM CAREER_DETAIL
		WHERE CAREER_DETAIL_CAREER_SEQ = #{CAREER_DETAIL_CAREER_SEQ}
	</select>
	<select id="career_detail_select_seq" parameterType="int" resultType="CAREER_DETAIL">
		SELECT CAREER_DETAIL_SEQ FROM CAREER_DETAIL 
		WHERE CAREER_DETAIL_CAREER_SEQ = #{CAREER_DETAIL_CAREER_SEQ}
	</select>
	<insert id="career_detail_insert" parameterType="CAREER_DETAIL">
		INSERT INTO CAREER_DETAIL
		VALUES(CAREER_DETAIL_SEQ.NEXTVAL,#{CAREER_DETAIL_CAREER_SEQ},
		#{PERFORMANCE},to_date(#{START_DATE},'YYYY-MM-DD HH24:MI:SS'),
		END_DATE = to_date(#{END_DATE},'YYYY-MM-DD HH24:MI:SS'),#{DETAIL_CONTEXT})
	</insert>
	<update id="career_detail_update" parameterType="CAREER_DETAIL">
		UPDATE CAREER_DETAIL SET 
		PERFORMANCE = #{PERFORMANCE}, START_DATE = to_date(#{START_DATE},'YYYY-MM-DD HH24:MI:SS'),
		END_DATE = to_date(#{END_DATE},'YYYY-MM-DD HH24:MI:SS'),DETAIL_CONTEXT = #{DETAIL_CONTEXT}
		WHERE CAREER_DETAIL_CAREER_SEQ = #{CAREER_DETAIL_CAREER_SEQ}
		AND CAREER_DETAIL_SEQ = #{CAREER_DETAIL_SEQ}
	</update>
	
	<delete id="career_detail_delete" parameterType="HashMap">
		DELETE FROM CAREER_DETAIL
		WHERE CAREER_DETAIL_CAREER_SEQ = #{career_seq} 
		AND CAREER_DETAIL_SEQ = #{career_detail_seq}
	</delete>
	
	<insert id="career_detail_insert_new" parameterType="int">
		INSERT INTO CAREER_DETAIL
		VALUES(CAREER_DETAIL_SEQ.NEXTVAL, (SELECT CAREER_SEQ FROM CAREER WHERE CAREER_MEMBER_CODE = #{CAREER_MEMBER_CODE}),'',SYSDATE,SYSDATE,'')
	</insert>
	<select id="career_detail_count" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM CAREER_DETAIL
		WHERE CAREER_DETAIL_CAREER_SEQ = #{CAREER_DETAIL_CAREER_SEQ}
	</select>

</mapper>