<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.actionMapper">

	<select id="action_select" parameterType="int" resultType="ACTION_DTO">
		SELECT * FROM ACTION_TABLE
		WHERE ACTION_MEMBER_CODE= #{ACTION_MEMBER_CODE}
	</select>
	<select id="action_select_seq" parameterType="int" resultType="ACTION_DTO">
		SELECT ACTION_SEQ FROM ACTION_TABLE
		WHERE ACTION_MEMBER_CODE= #{ACTION_MEMBER_CODE}
	</select>
	<insert id="action_insert" parameterType="ACTION_DTO">
		INSERT INTO ACTION_TABLE
		VALUES(ACTION_SEQ.NEXTVAL,#{ACTION_MEMBER_CODE},
		#{ACTION_NAME},to_date(#{ACTION_START_DATE},'YYYY-MM-DD HH24:MI:SS'),
		to_date(#{ACTION_END_DATE},'YYYY-MM-DD HH24:MI:SS'),#{ACTION_LINK},#{ACTION_EX_TEXT})
	</insert>
	<update id="action_update" parameterType="ACTION_DTO">
		UPDATE ACTION_TABLE SET 
		ACTION_NAME=#{ACTION_NAME},
		ACTION_START_DATE = to_date(#{ACTION_START_DATE},'YYYY-MM-DD HH24:MI:SS'),
		ACTION_END_DATE = to_date(#{ACTION_END_DATE},'YYYY-MM-DD HH24:MI:SS'),
		ACTION_LINK = #{ACTION_LINK},
		ACTION_EX_TEXT = #{ACTION_EX_TEXT}
		WHERE ACTION_MEMBER_CODE= #{ACTION_MEMBER_CODE}
		AND ACTION_SEQ= #{ACTION_SEQ}
	</update>
	
	<delete id="action_delete_one" parameterType="HashMap">
		DELETE FROM ACTION_TABLE
		WHERE ACTION_MEMBER_CODE= #{ACTION_MEMBER_CODE}
		AND ACTION_SEQ= #{ACTION_SEQ}
	</delete>
	<delete id="action_delete" parameterType="int">
		DELETE FROM ACTION_TABLE
		WHERE ACTION_MEMBER_CODE= #{ACTION_MEMBER_CODE}
	</delete>
</mapper>