<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.certificateMapper">
	<select id="certificate_select" parameterType="int" resultType="CERTIFICATE">
		SELECT * FROM CERTIFICATE
		WHERE CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
		ORDER BY CERTIFICATE_SEQ ASC
	</select>
	<select id="certificate_select_seq" parameterType="int" resultType="CERTIFICATE">
		SELECT CERTIFICATE_SEQ FROM CERTIFICATE
		WHERE CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
	</select>
	<insert id="certificate_insert" parameterType="CERTIFICATE">
		INSERT INTO	CERTIFICATE
		VALUES(CERTIFICATE_SEQ.NEXTVAL, #{CERTIFICATE_MEMBER_CODE},#{CERTIFICATE_NAME},
		TO_DATE(#{CERTIFICATE_DATE},'YYYY-MM-DD HH24:MI:SS'),#{CERTIFICATE_LINK},#{CERTIFICATE_EX_TEXT})
	</insert>
	<update id="certificate_update" parameterType="CERTIFICATE">
		UPDATE CERTIFICATE SET 
		CERTIFICATE_NAME = #{CERTIFICATE_NAME}, 
		CERTIFICATE_DATE = TO_DATE(#{CERTIFICATE_DATE},'YYYY-MM-DD HH24:MI:SS'), 
		CERTIFICATE_LINK = #{CERTIFICATE_LINK}, 
		CERTIFICATE_EX_TEXT = #{CERTIFICATE_EX_TEXT}
		WHERE CERTIFICATE_SEQ = #{CERTIFICATE_SEQ} 
		AND CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
	</update>
	<delete id="certificate_delete_one" parameterType="HashMap">
		DELETE FROM CERTIFICATE
		WHERE CERTIFICATE_SEQ = #{CERTIFICATE_SEQ}
		AND CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
	</delete>
	<delete id="certificate_delete" parameterType="int">
		DELETE FROM CERTIFICATE
		WHERE CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
	</delete>
	<select id="certificate_count" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM CERTIFICATE
		WHERE CERTIFICATE_MEMBER_CODE = #{CERTIFICATE_MEMBER_CODE}
	</select>
	<insert id="certificate_insert_new" parameterType="int">
		INSERT INTO	CERTIFICATE
		VALUES(CERTIFICATE_SEQ.NEXTVAL, #{CERTIFICATE_MEMBER_CODE},'',
		SYSDATE,'','')
	</insert>
</mapper>