<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.languageMapper">

	<select id="language_select" parameterType="int" resultType="LANGUAGE">
		SELECT * FROM LANGUAGE
		WHERE LANGUAGE_MEMBER_CODE = #{LANGUAGE_MEMBER_CODE}
	</select>
	<insert id="language_insert" parameterType="LANGUAGE">
		INSERT INTO LANGUAGE
		VALUES(LANGUAGE_SEQ.NEXTVAL,#{LANGUAGE_MEMBER_CODE},#{LANGUAGE})
	</insert>
	<update id="language_update" parameterType="LANGUAGE">
		UPDATE LANGUAGE
		SET LANGUAGE = #{LANGUAGE}
		WHERE LANGUAGE_SEQ = #{LANGUAGE_SEQ}
		AND  LANGUAGE_MEMBER_CODE = #{LANGUAGE_MEMBER_CODE}
	</update>
	<delete id="language_delete" parameterType="HashMap">
		DELETE FROM LANGUAGE
		WHERE LANGUAGE_SEQ = #{LANGUAGE_SEQ}
		AND LANGUAGE_MEMBER_CODE = #{LANGUAGE_MEMBER_CODE}
	</delete>
	<select id="language_select_seq" parameterType="int" resultType="LANGUAGE">
		SELECT LANGUAGE_SEQ FROM LANGUAGE
		WHERE LANGUAGE_MEMBER_CODE = #{LANGUAGE_MEMBER_CODE}
	</select>
	
</mapper>