<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.memberMapper">

	<select id="login" parameterType="MEMBER" resultType="MEMBER">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{MEMBER_EMAIL} AND MEMBER_PW =
		#{MEMBER_PW}
	</select>
	
	<insert id="insertRoadMap" parameterType="ROADMAP">
		INSERT INTO ROADMAP
		VALUES(ROADMAP_CODE_SEQ.NEXTVAL,#{MEMBER_CODE},#{ROADMAP_FIELD},#{ROADMAP_TECH})
	</insert>
	
	<update id="updateRoadMap" parameterType="ROADMAP">
		UPDATE ROADMAP 
		SET ROADMAP_TECH = #{ROADMAP_TECH}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<select id="loginkakao" parameterType="KAKAO_MEMBER" resultType="KAKAO_MEMBER">
		SELECT MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PW,MEMBER_PHONE,
		MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE,
		KAKAO_ID,KAKAO_NICKNAME
		FROM MEMBER JOIN KAKAOMEMBER USING(MEMBER_CODE)
		WHERE KAKAO_ID = #{KAKAO_ID}
	</select>
		
	<select id="loginnaver" parameterType="NAVER_MEMBER" resultType="NAVER_MEMBER">
		SELECT MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PW,MEMBER_PHONE,
		MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE,
		NAVER_ID,NAVER_NICKNAME
		FROM MEMBER JOIN NAVERMEMBER USING(MEMBER_CODE)
		WHERE NAVER_ID = #{NAVER_ID}
	</select>
	
	<select id="getMEMBER_CODE" parameterType="String" resultType="MEMBER">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{MEMBER_EMAIL}
	</select>
	
	<select id="nameConfirm" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER 
		WHERE MEMBER_NAME = #{MEMBER_NAME}
	</select>
	
	<select id="emailConfirm" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER 
		WHERE MEMBER_EMAIL = #{MEMBER_EMAIL}
	</select>
	
	<insert id="join" parameterType="MEMBER">
		INSERT INTO MEMBER
		VALUES(MEMBER_CODE_SEQ.NEXTVAL,#{MEMBER_NAME},#{MEMBER_EMAIL},#{MEMBER_PW},#{MEMBER_PHONE},'Y','1',SYSDATE,SYSDATE)
	</insert>

	<insert id="joinWithSns" parameterType="MEMBER">
		INSERT INTO MEMBER
		(MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PHONE,MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE)
		VALUES(MEMBER_CODE_SEQ.NEXTVAL,#{MEMBER_NAME},#{MEMBER_EMAIL},#{MEMBER_PHONE},'Y','1',SYSDATE,SYSDATE)
	</insert>

	<insert id="kakaojoin" parameterType="KAKAO_MEMBER">
		INSERT INTO
		KAKAOMEMBER(MEMBER_CODE, KAKAO_ID, KAKAO_NICKNAME)
		VALUES(#{MEMBER_CODE},#{KAKAO_ID},#{KAKAO_NICKNAME})
	</insert>

	<insert id="naverjoin" parameterType="NAVER_MEMBER">
		INSERT INTO 
		NAVERMEMBER (MEMBER_CODE, NAVER_ID, NAVER_NICKNAME)
		VALUES(#{MEMBER_CODE},#{NAVER_ID},#{NAVER_NICKNAME})
	</insert>
	
	<select id="isKakaoMember" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER JOIN KAKAOMEMBER
		USING(MEMBER_CODE)
		WHERE KAKAO_ID = #{KAKAO_ID}
	</select>
	
	<select id="isNaverMember" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER JOIN NAVERMEMBER
		USING(MEMBER_CODE)
		WHERE NAVER_ID = #{NAVER_ID}
	</select>
	
	<select id="selectMemberProfile" parameterType="int" resultType="MEMBER_PROFILE">
		SELECT * 
		FROM MEMBER JOIN MEMBER_PROFILE USING (MEMBER_CODE)
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</select>
	
	<insert id="insertMemberProfile" parameterType="MEMBER_PROFILE">
		INSERT INTO MEMBER_PROFILE
		VALUES(#{MEMBER_CODE},#{MEMBER_PROFILE_IMAGE_NAME},#{MEMBER_PROFILE_IMAGE_S_NAME},#{MEMBER_PROFILE_PATH},#{MEMBER_PROFILE_INTRODUCE},#{MEMBER_PROFILE_HOMEPAGE},#{MEMBER_PROFILE_AREA},#{MEMBER_PROFILE_LATITUDE},#{MEMBER_PROFILE_LOGITUDE})
	</insert>
	
	<update id="updateMember" parameterType="MEMBER_PROFILE">
		UPDATE MEMBER
		SET MEMBER_NAME = #{MEMBER_NAME}
		, MEMBER_PHONE = #{MEMBER_PHONE}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<update id="updateMemberProfile" parameterType="MEMBER_PROFILE">
		UPDATE MEMBER_PROFILE
		SET MEMBER_PROFILE_INTRODUCE = #{MEMBER_PROFILE_INTRODUCE}
			, MEMBER_PROFILE_HOMEPAGE = #{MEMBER_PROFILE_HOMEPAGE}
			, MEMBER_PROFILE_AREA = #{MEMBER_PROFILE_AREA}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<update id="updateMemberProfileImage" parameterType="MEMBER_PROFILE">
		UPDATE MEMBER_PROFILE
		SET MEMBER_PROFILE_IMAGE_NAME = #{MEMBER_PROFILE_IMAGE_NAME}
			, MEMBER_PROFILE_IMAGE_S_NAME = #{MEMBER_PROFILE_IMAGE_S_NAME}
			, MEMBER_PROFILE_PATH = #{MEMBER_PROFILE_PATH}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<update id="updateMemberProfileGps" parameterType="MEMBER_PROFILE">
		UPDATE MEMBER_PROFILE
		SET MEMBER_PROFILE_LATITUDE = #{MEMBER_PROFILE_LATITUDE}
			, MEMBER_PROFILE_LOGITUDE = #{MEMBER_PROFILE_LOGITUDE}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<update id="updateMemberPw" parameterType="MEMBER_PROFILE">
		UPDATE MEMBER
		SET MEMBER_PW = #{MEMBER_PW}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<update id="updateMemberRole" parameterType="int">
		UPDATE MEMBER
		SET MEMBER_ROLE = '2'
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</update>
	
	<select id="searchMemberEmailName" parameterType="map" resultType="MEMBER_PROFILE">
		SELECT * 
		FROM MEMBER JOIN MEMBER_PROFILE USING (MEMBER_CODE)
		WHERE (REGEXP_LIKE(MEMBER_NAME, #{EMAIL_NAME})
		OR REGEXP_LIKE(MEMBER_EMAIL, #{EMAIL_NAME}))
		AND MEMBER_CODE != #{MY_MEMBER_CODE}
	</select>
</mapper>












