<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.memberMapper">

	<select id="login" parameterType="MEMBER" resultType="MEMBER">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{MEMBER_EMAIL} AND MEMBER_PW =
		#{MEMBER_PW}
	</select>
	
	<select id="loginkakao" parameterType="KAKAO_MEMBER" resultType="KAKAO_MEMBER">
		SELECT MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PW,MEMBER_PHONE,
		MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE,
		KAKAO_ID,KAKAO_NICKNAME
		FROM MEMBER JOIN KAKAOMEMBER USING(MEMBER_CODE)
		WHERE KAKAO_ID = #{KAKAO_ID}
	</select>
		
	<select id="loginnaver" parameterType="NAVER_MEMBER" resultType="NAVER_MEMBER">
		SELECT MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PW,MEMBER_PHONE,
		MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE,
		NAVER_ID,NAVER_NICKNAME
		FROM MEMBER JOIN NAVERMEMBER USING(MEMBER_CODE)
		WHERE NAVER_ID = #{NAVER_ID}
	</select>
	
	<select id="getMEMBER_CODE" parameterType="String"
		resultType="MEMBER">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{MEMBER_EMAIL}
	</select>

	<insert id="join" parameterType="MEMBER">
		INSERT INTO MEMBER
		VALUES(MEMBER_CODE_SEQ.NEXTVAL,#{MEMBER_NAME},#{MEMBER_EMAIL},#{MEMBER_PW},#{MEMBER_PHONE},'Y','1',SYSDATE,SYSDATE)
	</insert>

	<insert id="joinWithSns" parameterType="MEMBER">
		INSERT INTO MEMBER
		(MEMBER_CODE,MEMBER_NAME,MEMBER_EMAIL,MEMBER_PHONE,MEMBER_ENABLED,MEMBER_ROLE,MEMBER_LOGOUT_DATE,MEMBER_CREATE_DATE)
		VALUES(MEMBER_CODE_SEQ.NEXTVAL,#{MEMBER_NAME},#{MEMBER_EMAIL},#{MEMBER_PHONE},'Y','1',SYSDATE,SYSDATE)
	</insert>

	<insert id="kakaojoin" parameterType="KAKAO_MEMBER">
		INSERT INTO
		KAKAOMEMBER(MEMBER_CODE, KAKAO_ID, KAKAO_NICKNAME)
		VALUES(#{MEMBER_CODE},#{KAKAO_ID},#{KAKAO_NICKNAME})
	</insert>

	<select id="isKakaoMember" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER JOIN KAKAOMEMBER
		USING(MEMBER_CODE)
		WHERE KAKAO_ID = #{KAKAO_ID}
	</select>
	
	<select id="isNaverMember" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER JOIN NAVERMEMBER
		USING(MEMBER_CODE)
		WHERE NAVER_ID = #{NAVER_ID}
	</select>
</mapper>












