<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.projectMapper">

	<select id="project_select" parameterType="PROJECT" resultType="PROJECT">
		SELECT * FROM PROJECT
		WHERE PROJECT_MEMBER_CODE = #{PROJECT_MEMBER_CODE}
	</select>
	<insert id="project_insert" parameterType="PROJECT">
		INSERT INTO
		PROJECT
		VALUES(PROJECT_SEQ.NEXTVAL, #{PROJECT_PROFILE_SEQ},#{PROJECT_NAME},#{PROJECT_YEAR},
		#{PROJECT_ONELINE_EX},#{PROJECT_TEAM},#{PROJECT_MEMBER},#{PROJECT_USE_STACK},#{PROJECT_DETAIL},
		#{PROJECT_STORAGE_LINK})
	</insert>
	<update id="project_update" parameterType="PROJECT">
		UPDATE PROJECT
		SET PROJECT_NAME = #{PROJECT_NAME}, PROJECT_YEAR = #{PROJECT_YEAR}, PROJECT_ONELINE_EX = #{PROJECT_ONELINE_EX},
		PROJECT_TEAM = #{PROJECT_TEAM}, PROJECT_MEMBER = #{PROJECT_MEMBER}, PROJECT_USE_STACK = #{PROJECT_USE_STACK},
		PROJECT_DETAIL = #{PROJECT_DETAIL}, PROJECT_STORAGE_LINK = #{PROJECT_STORAGE_LINK}, 
		PROJECT_WEBSITE = #{PROJECT_WEBSITE}, PROJECT_ANDROID = #{PROJECT_ANDROID} ,PROJECT_IOS=#{PROJECT_IOS}
		WHERE PROJECT_SEQ = #{PROJECT_SEQ} AND PROJECT_MEMBER_CODE = #{PROJECT_MEMBER_CODE}
	</update>
	<delete id="project_delete" parameterType="Hashmap">
		DELETE FROM PROJECT
		WHERE PROJECT_SEQ = #{PROJECT_SEQ};
		AND PROJECT_PROFILE_SEQ = #{PROJECT_MEMBER_CODE}
	</delete>
	<select id="project_count" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM PROJECT
		WHERE PROJECT_MEMBER_CODE = #{PROJECT_MEMBER_CODE}
	</select>
	<insert id="project_insert_new" parameterType="int">
		INSERT INTO PROJECT
		VALUES(PROJECT_SEQ.NEXTVAL, #{PROJECT_MEMBER_CODE},' ',0,'','',0,'','','','','','')
	</insert>

</mapper>