<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devca.qnaCommentMapper">

	<select id="selectCommentList" parameterType="int"
		resultType="QNA_COMMENT">
		SELECT 
			COMMENT_NO, COMMENT_BOARD_NO, MEMBER_CODE, MEMBER_NAME,
			MEMBER_EMAIL, COMMENT_CONTENT, COMMENT_DATE,
			COMMENT_GROUP_NO, COMMENT_GROUP_ORDER, COMMENT_GROUP_DEPTH
		FROM QNA_COMMENT JOIN MEMBER USING (MEMBER_CODE)
		WHERE COMMENT_BOARD_NO = #{COMMENT_BOARD_NO}
		ORDER BY COMMENT_GROUP_NO DESC, COMMENT_GROUP_ORDER ASC
	</select>

	<select id="insertComment" parameterType="QNA_COMMENT">
		INSERT INTO QNA_COMMENT
		(COMMENT_NO, COMMENT_BOARD_NO, MEMBER_CODE, COMMENT_CONTENT,
		COMMENT_DATE, COMMENT_GROUP_NO)
		VALUES(COMMENT_NO_SEQ.NEXTVAL,
		#{COMMENT_BOARD_NO}, #{MEMBER_CODE},#{COMMENT_CONTENT}, SYSDATE, COMMENT_NO_SEQ.CURRVAL)
	</select>

	<select id="updateComment" parameterType="QNA_COMMENT">
		UPDATE QNA_COMMENT SET COMMENT_CONTENT = #{COMMENT_CONTENT}, COMMENT_DATE =
		SYSDATE WHERE COMMENT_NO = #{COMMENT_NO}
	</select>

	<select id="deleteComment" parameterType="int">
		DELETE FROM QNA_COMMENT WHERE COMMENT_NO = #{COMMENT_NO}
	</select>

	<select id="updateSubComment" parameterType="int">
		UPDATE QNA_COMMENT SET COMMENT_GROUP_ORDER = COMMENT_GROUP_ORDER + 1,
		COMMENT_GROUP_DEPTH = COMMENT_GROUP_DEPTH + 1
		WHERE COMMENT_GROUP_NO =
		(SELECT COMMENT_GROUP_NO FROM QNA_COMMENT WHERE COMMENT_NO = #{COMMENT_NO})
	</select>

	<select id="insertSubComment" parameterType="QNA_COMMENT">
		INSERT INTO QNA_COMMENT
		(COMMENT_NO, COMMENT_BOARD_NO, MEMBER_CODE, COMMENT_CONTENT, COMMENT_DATE, COMMENT_GROUP_NO,
		COMMENT_GROUP_ORDER, COMMENT_GROUP_DEPTH)
		VALUES(COMMENT_NO_SEQ.NEXTVAL,
		(SELECT COMMENT_BOARD_NO FROM QNA_COMMENT WHERE COMMENT_NO = #{COMMENT_NO}),
		#{MEMBER_CODE}, #{COMMENT_CONTENT}, SYSDATE,
		(SELECT COMMENT_GROUP_NO FROM QNA_COMMENT WHERE COMMENT_NO = #{COMMENT_NO}),
		(SELECT COMMENT_GROUP_ORDER FROM QNA_COMMENT WHERE COMMENT_NO =
		#{COMMENT_NO}) + 1,
		(SELECT COMMENT_GROUP_DEPTH FROM QNA_COMMENT WHERE COMMENT_NO =
		#{COMMENT_NO}) + 1)
	</select>



</mapper>