<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.skillMapper">

	<select id="skill_select" parameterType="int" resultType="SKILL">
		SELECT * FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</select>
	<select id="skill_select_one" parameterType="int" resultType="SKILL">
		SELECT SKILL_SEQ FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</select>
	<insert id="skill_insert" parameterType="SKILL">
		INSERT INTO SKILL
		VALUES(SKILL_SEQ.NEXTVAL,(SELECT MEMBER_CODE FROM MEMBER WHERE MEMBER_CODE = #{SKILL_MEMBER_CODE}), #{SKILL})
	</insert>
	<update id="skill_update" parameterType="SKILL">
		UPDATE SKILL SET 
		SKILL = #{SKILL}
		WHERE SKILL_SEQ = #{SKILL_SEQ}
		AND SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</update>
	<delete id="skill_delete_one" parameterType="HashMap">
		DELETE FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
		AND SKILL_SEQ = #{SKILL_SEQ}
	</delete>
	<select id="skill_count" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</select>
	<select id="skill_select_seq" parameterType="SKILL" resultType="SKILL">
		SELECT SKILL_SEQ FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</select>
	<delete id="skill_delete" parameterType="int">
		DELETE FROM SKILL
		WHERE SKILL_MEMBER_CODE = #{SKILL_MEMBER_CODE}
	</delete>
	<insert id="skill_insert_new" parameterType="SKILL">
		INSERT INTO SKILL
		VALUES(SKILL_SEQ.NEXTVAL,(SELECT MEMBER_CODE FROM MEMBER WHERE MEMBER_CODE = #{SKILL_MEMBER_CODE}), '스킬을 선택해주세요')
	</insert>
</mapper>