<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.studyMapper">
	
	<select id="selectStudyList" resultType="STUDY">
		SELECT *
		FROM STUDY
	</select>

	<select id="selectStudyDetail" parameterType="int" resultType="STUDY">
		SELECT *
		FROM STUDY
		WHERE STUDY_CODE = #{STUDY_CODE}
	</select>
	
	<insert id="studyWrite" parameterType="STUDY">
		INSERT INTO STUDY
		VALUES(STUDY_CODE_SEQ.NEXTVAL,#{MEMBER_CODE},#{STUDY_TITLE},#{STUDY_CONTENT},SYSDATE,#{STUDY_LOGITUDE},#{STUDY_LATITUDE},#{STUDY_ADDRESS},0)
	</insert>
	
	<update id="studyUpdate" parameterType="STUDY">
		UPDATE STUDY SET
		STUDY_TITLE = #{STUDY_TITLE},
		STUDY_CONTENT = #{STUDY_CONTENT},
		STUDY_LATITUDE = #{STUDY_LATITUDE},
		STUDY_LOGITUDE = #{STUDY_LOGITUDE},
		STUDY_ADDRESS = #{STUDY_ADDRESS}
		WHERE STUDY_CODE = #{STUDY_CODE}
	</update>
	
	<delete id="studyDelete" parameterType="int">
		DELETE FROM STUDY
		WHERE STUDY_CODE = #{STUDY_CODE}
	</delete>
</mapper>












