<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devca.surveyMapper">

	<select id="survey_select" parameterType="SURVEY" resultType="SURVEY">
		SELECT * FROM SURVEY
		WHERE MEMBER_CODE = #{MEMBER_CODE}
	</select>
	<insert id="survey_insert" parameterType="SURVEY">
		INSERT INTO 
		SURVEY
		VALUES(SURVEY_SEQ.NEXTVAL,#{MEMBER_CODE},#{SURVEY_DATA})
	</insert>
	<update id="survey_insert" parameterType="SURVEY">
		UPDATE SURVEY
		SET SURVEY_DATA = #{SURVEY_DATA}
		WHERE MEMBER_CODE = #{MEMBER_CODE}
		AND SURVEY_DATA = #{SURVEY_DATE}
	</update>
	<delete id="survey_delete" parameterType="int">
		DELETE FROM SURVEY
		WHERE MEMBER_CODE = #{MEMBER_CODE}
		AND SURVEY_SEQ = #{SURVEY_SEQ}
	</delete>

</mapper>