<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//E" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="com/map/mybatis/db.local"></properties>
	
	<settings>
		 <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.map.dto.MemberDto" alias="member" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />	
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/map/mybatis/map-mapper.xml"/>
	</mappers>
</configuration>
